body {
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
}

header, #announcer_div, #controls {
  display: flex;
  justify-content: center;
}

.announcer_div {
  background-color: gray;
  color: blueviolet;
  border: 2px solid black;
  border-radius: 7px;
  height: 100%;
  width: auto;
  margin: 0 20%;
  padding: 0 100px;
  text-align: center;
}

#scoreboard {
  color: blue;
  background-color: green;
  height: 100px;
}

.hidden {
  display: none;
}