body, input, textarea, button {
  box-sizing: border-box;
  font-family: 'Silkscreen', sans-serif;
}

header, #announcer_div, #controls {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#arena {
  width: auto;
  height: 120px;
  margin: 25px auto;
  background-color: rgb(255, 157, 104);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.announcer_div {
  background-color: gray;
  color: blueviolet;
  border: 2px solid black;
  border-radius: 7px;
  height: 100%;
  width: auto;
  margin: 0 20%;
  padding: 4px 10px;
  text-align: center;
}

#controls img {
  width: 100px;
  height: 100px;
}

.controls__card {
  display: flex;
  flex-direction: column;
}

.webpage_middle {
  text-align: center;
}

button {
  transition: all .2s ease-in-out;
  margin: 15px;
}

button:hover {
  transform: scale(1.1);
}

#play_button {
  background-color: red;
  border: 5px double white;
  color: white;
}

#play_button.ready {
  background-color: green;
  border: 5px double white;
  color: white;
}

#scoreboard {
  color: blue;
  background-color: green;
  height: 100px;
}

.hidden {
  display: none;
}